<div class="row center hide-on-med-and-down valign-wrapper">
    <div class="col s5">
        <div class="col s6">
            <span class="badge left">4+</span>
            <a [routerLink]="['/home']">MIJN <b>AANBEVELINGEN</b></a>
        </div>
        <div class="col s6">
            <a [routerLink]="['/home']">MIJN <b>GEGEVENS</b></a>
        </div>
    </div>
    
    <!-- Persoonelijke foto -->
    <div class="col s2">
        <img class="responsive-img profile-image circle" src="app/assets/img/face.jpg">
    </div>
    
    <div class="col s5">
        <div class="col s6">
            <a [routerLink]="['/cars']">MIJN <b>BOEKINGEN</b></a>
        </div>
        <div class="col s6">
            <a href="sass.html">MIJN <b>INSTELLINGEN</b></a>
        </div>
    </div>
</div>